@font-face {
    font-family: 'Raptor_reg';
    font-style: normal;
    font-weight: normal;
    src: local('Raptor_regRaptor_reg'), url('./Raptor_reg.woff') format('woff');
}

.form {
  width: 700px;
background: radial-gradient(#3737FF 15%, transparent 16%), linear-gradient(45deg, transparent 49%, #3737FF 49% 51%, transparent 51%), linear-gradient(-45deg, transparent 49%, #3737FF 49% 51%, transparent 51%);
        background-size: 2em 2em;
        background-color: #121214;
        opacity: 1
}

.submit {
  color: #FEFEFE;
  font-family: 'Raptor_reg';
}



